**/node_modules
**/dist
**/.next
**/.turbo
**/coverage
**/.email-log
**/.cache
.git
.github
.vscode
.idea
*.log
.env
.env.local
.env.production
.env.staging
.env.neon
supabase
*.apk
*.aab
.android
.gradle
build
