<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Debug builds talk to the emulator-host API over plain HTTP
         (10.0.2.2). Release builds keep cleartext disabled. -->
    <application
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute" />
</manifest>
